page-receive-success {
  .content {
    background: #f5f4f3 !important;
  }
  .grid-style {
    padding: 0;
    ion-row {
      color: #999;
      background: #fff;
      font-size: 1.5rem;
      padding: 10px;
      margin-bottom: 1px;
    }
  }
}
