<!--
  Generated template for the OrderModifyPageOnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>追单</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)='OrderScanner()'>
        <ion-icon name="ios-qr-scanner-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="customerList" *ngIf='goodsLength!==0'>
    <div class="commodityName">商品</div>
    <div class="customerReturnSuccessContent">
      <div class="name">商品名称</div>
      <div class="num">数量</div>
    </div>
    <div class="customerReturnSuccessContentList" *ngFor='let item of goods'>
      <div class="name">{{item.goodsName}}</div>
      <div class="num">{{item.num}}</div>
    </div>
  </div>
  <div class="customerListpresent" *ngIf='presentLength!=0'>
    <div class="commodityName">赠品</div>
    <div class="customerReturnSuccessContent">
      <div class="name">商品名称</div>
      <div class="num">数量</div>
      <div class="sum">赠品来源</div>
    </div>
    <div class="customerReturnSuccessContentList" *ngFor='let ite of present'>
      <div class="name">{{ite.goodsName}}</div>
      <div class="num">{{ite.num}}</div>
      <div class="sum">{{ite.source==0?'借门店':ite.source==1?'欠顾客':'其他'}}</div>
    </div>
  </div>
  <div class="customerListpresent" *ngIf='lipinlength!=0'>
    <div class="commodityName">礼品</div>
    <div class="customerReturnSuccessContent">
      <div class="name">礼品名称</div>
      <div class="num">数量</div>
      <div class="sum">赠品来源</div>
    </div>
    <div class="customerReturnSuccessContentList" *ngFor='let ite of lipin'>
      <div class="name">{{ite.goodsName}}</div>
      <div class="num">{{ite.num}}</div>
      <div class="sum">{{ite.source==0?'借门店':ite.source==1?'欠顾客':'其他'}}</div>
    </div>
  </div>
</ion-content>
