page-owe-count {
    ion-header {
        .store-name {
            padding: 1rem 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            border-bottom: 1px solid rgba(229, 229, 229, 1);
            .icon-down{
                margin: 0 0.5rem;
                display: flex;
                align-items: center;
            }
        }
        .toolbar {
            padding: 4px;
            padding-left: 4px;
            padding-right: 4px;
            max-height: 44px;
        }
        .list-title {
            width: 100%;
            background-color: rgba($color: #f1f6f4, $alpha: 1);
            color: rgba($color: #999999, $alpha: 1.0);
            display: flex;
            word-break: break-all;
            text-align: center;
            td {
                padding: 0.6rem 1rem;
                .place-holder {
                    visibility: hidden;
                }
            }
            td:nth-child(1) {
                padding-left: 1.5rem;
                text-align: left;
            }
        }
    }
    ion-content {
        background-color: rgba($color: #ebebeb, $alpha: 1.0) !important;
        .rank-wrap {
            background-color: rgba($color: #ffffff, $alpha: 1.0);
            table {
                width: 100%;
                text-align: center;
                word-break: break-all;
                color: rgba($color: #666666, $alpha: 1.0);
                td {
                    padding: 1rem;
                    .place-holder {
                        visibility: hidden;
                    }
                }
                td:nth-child(1) {
                    padding-left: 1.5rem;
                    text-align: left;
                }
                tr:not(:last-child) {
                    border-bottom: 1px solid rgba(229, 229, 229, 1);
                }
            }
        }
    }
}